@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: un pequeño reset para que quede bonito */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}